.App {
  text-align: center;
  /* border: 1px solid black; */

  margin: auto;
}

.mainDiv {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  padding: 25px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.mainDiv > button {
  width: 150px;
  padding: 10px;
  font-size: 20px;
}
.resultdiv {
  /* border: 1px solid black; */
  height: 250px;
}
.OuterDiv {
  border: 1px solid black;
  margin: auto;
  width: 60%;
  margin-top: 15px;
  border-radius: 15px;
}
